body{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    background-color: #000000;
}

h1{
    text-shadow: 2px 2px 2px #ff0000; /* Updated color to red */
    text-decoration: underline;
    text-align: center;
}

 
    p {
        animation: slideIn 1s ease-in-out forwards;
        text-align: justify;
    }

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    
        table {
            border-collapse: collapse;
        }

        td:nth-child(odd) {
            background-color: #00ffee5f; /* Red */
        }

        td:nth-child(even) {
            background-color: #e937b077; /* Green */
        }
        table:hover {
             color: #25a50e;
             text-shadow: 2px 2px 2px #ff0000;
            animation: rotate 1s linear infinite;
            }

            @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
            }
        }        
    

    
